 body {
	margin: 0;
	padding: 0;
 }
 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 100%;
	 height: 2953px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #Background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 100%;
	 height: 2953px;
	 z-index:1;
} 

 #bottomBG 
{ 
	 left: -1px; 
	 top: 2516px; 
	 position: absolute; 
	 width: 100%;
	 height: 945px;
	 z-index:2;
} 

 #layer_3156605 
{ 
	 left: -1px; 
	 top: 1572px; 
	 position: absolute; 
	 width: 100%;
	 height: 945px;
	 z-index:3;
} 

 #middlegraphic 
{ 
	 left: 0px; 
	 top: 666px; 
	 position: absolute; 
	 width: 100%;
	 height: 945px;
	 z-index:4;
} 

 #purple 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 100%;
	 height: 945px;
	 z-index:5;
} 

 #Screenshot20191226at 
{ 
	 left: -11px; 
	 top: 1208px; 
	 position: absolute; 
	 width: 555px;
	 height: 370px;
	 z-index:6;
} 

 #darkblue 
{ 
	 left: 544px; 
	 top: 1208px; 
	 position: absolute; 
	 width: 888px;
	 height: 369px;
	 z-index:7;
} 

 #Rectangle8 
{ 
	 left: -2px; 
	 top: 796px; 
	 position: absolute; 
	 width: 99%;
	 height: 281px;
	 z-index:8;
} 

 #VimobinLabs 
{ 
	 left: 59px; 
	 top: 93px; 
	 position: absolute; 
	 width: 19.19%;
	 height: 32px;
	 z-index:9;
} 

 #VimobinLabs_0 
{ 
	 left: 608px; 
	 top: 617px; 
	 position: absolute; 
	 width: 13.48%;
	 height: 22px;
	 z-index:10;
} 

 #BringingCloudGamingt 
{ 
	 left: 387px; 
	 top: 364px; 
	 position: absolute; 
	 width: 44%;
	 height: 211px;
	 z-index:11;
} 

 #Rectangle4 
{ 
	 left: 1402px; 
	 top: 680px; 
	 position: absolute; 
	 width: 4.375%;
	 height: 485px;
	 z-index:12;
} 

 #layer_1 
{ 
	 left: 100px; 
	 top: 1666px; 
	 position: absolute; 
	 width: 26.393%;
	 height: 361px;
	 z-index:13;
} 

 #layer_2 
{ 
	 left: 532px; 
	 top: 1666px; 
	 position: absolute; 
	 width: 26.393%;
	 height: 361px;
	 z-index:14;
} 

 #layer_3 
{ 
	 left: 937px; 
	 top: 1667px; 
	 position: absolute; 
	 width: 26.46%;
	 height: 361px;
	 z-index:15;
} 

 #AboutUsCareerCont 
{ 
	 left: 757px; 
	 top: 70px; 
	 position: absolute; 
	 width: 32.533%;
	 height: 23px;
	 z-index:16;
} 

 #Lastrect 
{ 
	 left: -13px; 
	 top: 2654px; 
	 position: absolute; 
	 width: 100%;
	 height: 159px;
	 z-index:17;
} 

 #Interestedinwhatwedo 
{ 
	 left: 498px; 
	 top: 2714px; 
	 position: absolute; 
	 width: 32.25%;
	 height: 60px;
	 z-index:18;
} 

 #Vicon 
{ 
	 left: 203px; 
	 top: 835px; 
	 position: absolute; 
	 width: 10.02;
	 height: 111px;
	 z-index:19;
} 

 #Virtualization 
{ 
	 left: 153px; 
	 top: 988px; 
	 position: absolute; 
	 width: 17%;
	 height: 31px;
	 z-index:20;
}

 #UltraLowLatency 
{ 
	 left: 567px; 
	 top: 988px; 
	 position: absolute; 
	 width: 22.37%;
	 height: 40px;
	 z-index:21;
} 

 #ScalableCostEffectiv 
{ 
	 left: 1044px; 
	 top: 968px; 
	 position: absolute; 
	 width: 16.513%;
	 height: 81px;
	 z-index:22;
} 

 #YearsofDeepExperitis 
{ 
	 left: 138px; 
	 top: 1771px; 
	 position: absolute; 
	 width: 21.31%;
	 height: 152px;
	 z-index:23;
} 

 #RealTimeGamingDelive 
{ 
	 left: 586px; 
	 top: 1771px; 
	 position: absolute; 
	 width: 19.1954%;
	 height: 152px;
	 z-index:24;
} 

 #BuilttoScaleatAfford 
{ 
	 left: 1010px; 
	 top: 1793px; 
	 position: absolute; 
	 width: 16.655%;
	 height: 106px;
	 z-index:25;
} 

 #VimobinLabshasinvest
{ 
	 left: 583px; 
	 top: 1333px; 
	 position: absolute; 
	 width: 50.61%;
	 height: 113px;
	 z-index:26;
} 
#VimobinLabshasinvest img
{
	width: 100%;
}

 #cloudicon 
{ 
	 left: 192px; 
	 top: 1337px; 
	 position: absolute; 
	 width: 10.8%;
	 height: 98px;
	 z-index:27;
} 

 #Layer1 
{ 
	 left: 646px; 
	 top: 817px; 
	 position: absolute; 
	 width: 10.16%;
	 height: 144px;
	 z-index:28;
} 

 #Layer2 
{ 
	 left: 1099px; 
	 top: 835px; 
	 position: absolute; 
	 width: 8.11%;
	 height: 115px;
	 z-index:29;
} 
